:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-white-color: #fff;
  --accent-color: #4d5ae5;
  --accent-active-color: #404bbf;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.list {
  list-style: none;
}

/* Header */
.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-active-color);
}

.contacts-email {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts-tel {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts-email:hover,
.contacts-email:focus {
  color: var(--accent-active-color);
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--accent-active-color);
}
/* Hero */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
/* Sections  */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.section .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section .position {
  font-size: 16px;
  line-height: 1.5;
}
/* Features */
.projects-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Buttom */
.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.pointer {
  cursor: pointer;
}
/* footer */
.footer-text {
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
}
