:root {
  --primary-brand: #4d5ae5;
  --primary-pressed-state: #404bbf;
  --primary-title-text: #2e2f42;
  --primary-text: #434455;
  --primary-white: #fff;
  --primary-bg: #2e2f42;
  --seccess: #31d0aa;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white);
  color: var(--primary-text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
.primary-text {
  color: var(--primary-text);
  font-size: 16px;
  line-height: 1.5;
}
.underlining {
  text-decoration: none;
}

/* Header */
.logo-header,
.logo-footer {
  color: var(--primary-brand);
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo-header-decor {
  color: var(--primary-title-text);
}
.logo-footer-decor {
  color: var(--light);
}
.site-nav {
  list-style: none;
}
.site-nav a {
  color: var(--primary-title-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--primary-pressed-state);
}

.contacts {
  font-style: normal;
  list-style: none;
}
.contacts-email,
.contacts-tel {
  color: var(--primary-text);
  text-decoration: none;
}

.contacts-email:hover,
.contacts-email:focus,
.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--primary-pressed-state);
}

/* Hero */
.hero {
  background: var(--primary-bg);
}
.hero-title {
  color: var(--primary-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
/* Sections  */
.hidden-title {
  display: none;
}
.section-title {
  color: var(--primary-title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.section .title {
  color: var(--primary-title-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.section a {
  text-decoration: none;
}
.section ul {
  list-style: none;
}
.section .position {
  font-size: 16px;
  line-height: 1.5;
}
/* Specifics */

.projects-title {
  color: var(--primary-title-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Buttons */
.hero-button {
  background-color: var(--primary-brand);
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--primary-white);
  font-family: 'Roboto';
  font-style: normal;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--primary-pressed-state);
}

.filter-button {
  background-color: var(--light);
  width: 116px;
  height: 48px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  /* border: none; */

  color: var(--primary-brand);
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--primary-pressed-state);
  color: var(--primary-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.pointer {
  cursor: pointer;
}
/* Footer */
.footer {
  background: var(--primary-bg);
}
.footer-text {
  color: var(--accent);
  font-size: 16px;
  line-height: 1.5;
}
